<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>top travel destination</title>
    <link rel="stylesheet" href="style/main.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Travel Destinations</h1>
      </header>
      <div class="nav">
        <ul class="continents-list">
          <li class="dropdown">
            <a href="#">EUROPE</a>
            <div class="dropdown-content">
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            </div>
          </li>
          <li class="dropdown">
            <a href="#">ASIA</a>
            <div class="dropdown-content">
            <a href="#">London, England</a>
            <a href="#">Paris, France</a>
            </div>
          </li>
          <li class="dropdown">
            <a href="#">SOUTH AMERICA</a>
            <div class="dropdown-content">
            <a href="#">London, England</a>
            <a href="#">Paris, France</a>
            </div>  
          </li>
        </ul>
      </div>
      {{{body}}}
    </div>

  <script src="frontSideScript/setNavMenu.js"></script>
  {{{_sections.script}}}
  </body>
</html>