<div class="container-row">
  
  <div class="main-content">
    <h1>EUROPE</h1>
    {{> europe}}
  </div>
  <div class="aside">
    <h1>ASIDE</h1>
    <ul class="destinations"></ul>
  </div>
</div>

{{#section 'script'}}
<script src="frontSideScript/loadContent.js" type="application/javascript"></script>
{{/section}}